##CORNICHON


#Ignore netbeans configuration
/nbproject/private/


#Ignore config for another instance execpt 'base'
/config/
!/config/base/

#Ignore web for another instance execpt 'base' and '_'
/web/
!/web/_
!/web/base/